services:
  php:
    build: .
    container_name: php_app
    volumes:
      - .:/var/www/html
    networks:
      - webnet

  nginx:
    image: nginx:latest
    container_name: nginx_server
    expose:
      - "80"                    # INTERNAL port only
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - webnet

networks:
  webnet:
